In [12]:
import pandas as pd
df = pd.read_excel('new_sanbul.xls')
df.head()

   발생일시_년 발생장소_관서  피해면적_합계
0    2022      전남     0.02
1    2022      경북     0.01
2    2022      울산     0.20
3    2022      경북     1.30
4    2022      경북     0.10

In [15]:
condition = (df['발생장소_관서'] == '전남') | (df['발생장소_관서'] == '광주')
new_df = df[condition]
new_df.head()

    발생일시_년 발생장소_관서  피해면적_합계
0     2022      전남     0.02
15    2022      전남     0.03
19    2022      전남     0.05
27    2022      전남     0.05
28    2022      전남     0.10

In [16]:
y3 = len(new_df.loc[new_df['발생일시_년'] == 2013])
y4 = len(new_df.loc[new_df['발생일시_년'] == 2014])
y5 = len(new_df.loc[new_df['발생일시_년'] == 2015])
y6 = len(new_df.loc[new_df['발생일시_년'] == 2016])
y7 = len(new_df.loc[new_df['발생일시_년'] == 2017])
y8 = len(new_df.loc[new_df['발생일시_년'] == 2018])
y9 = len(new_df.loc[new_df['발생일시_년'] == 2019])
y0 = len(new_df.loc[new_df['발생일시_년'] == 2020])
y1 = len(new_df.loc[new_df['발생일시_년'] == 2021])
y2 = len(new_df.loc[new_df['발생일시_년'] == 2022])

In [17]:
data = []
data = {"2013": y3, "2014": y4, "2015": y5, "2016": y6, "2017": y7, "2018": y8, 
        "2019": y9, "2020": y0, "2021": y1, "2022": y2}
data

{'2013': 60,
 '2014': 79,
 '2015': 56,
 '2016': 24,
 '2017': 33,
 '2018': 41,
 '2019': 39,
 '2020': 38,
 '2021': 33,
 '2022': 59}