In [1]:
import pandas as pd
import numpy as np

In [2]:
dr= pd.read_csv('koreadrought.csv', encoding='cp949', low_memory = False)

In [3]:
dr = dr.drop(['피해종료일'], axis = 1)

In [4]:
dr.drop(dr[(dr['피해일수'] == '#NUM!')].index, inplace=True)

In [5]:
dr.sort_values(by=['시도'])

        시도  시군구     읍면동  피해유형  피해인구       피해시작일 피해일수
1633   강원도  춘천시     사북면  운반급수    95  2020-12-31   29
1499   강원도  원주시     행구동  운반급수   500  2019-10-25    0
421    강원도  삼척시     신기면  운반급수   199  2015-06-15   11
419    강원도  정선군     임계면  운반급수    81  2015-06-15   11
417    강원도  정선군     임계면  운반급수    32  2015-06-15   11
...    ...  ...     ...   ...   ...         ...  ...
1175  충청북도  충주시  교현·안림동  운반급수    85  2018-02-06    0
1407  충청북도  제천시     송학면  운반급수   152  2019-06-21  102
1406  충청북도  충주시  교현·안림동  운반급수    85  2019-06-20   30
1474  충청북도  충주시  교현·안림동  운반급수    24  2019-08-05    1
680   충청북도  충주시     앙성면  운반급수    13  2017-01-02    0

[1567 rows x 7 columns]

In [6]:
h = dr.sort_values(by=['피해시작일'], ascending = False)

In [7]:
dr = dr.copy()

# '피해시작일' 열을 datetime 형식으로 변환
dr['피해시작일'] = pd.to_datetime(dr['피해시작일'], format='%Y.%m.%d')

# '시도', '시군구', '피해시작일' 열을 기준으로 그룹화하여 평균 계산
data = dr.groupby(['시도', '시군구', '피해시작일']).size().reset_index(name='발생횟수')
data

        시도  시군구      피해시작일  발생횟수
0      강원도  강릉시 2015-05-29     1
1      강원도  강릉시 2015-06-01     3
2      강원도  강릉시 2015-06-18     1
3      강원도  강릉시 2017-06-26     1
4      강원도  고성군 2017-05-24     1
...    ...  ...        ...   ...
1149  충청북도  충주시 2020-03-19     1
1150  충청북도  충주시 2020-03-26     1
1151  충청북도  충주시 2020-04-14     1
1152  충청북도  충주시 2020-04-28     1
1153  충청북도  충주시 2020-08-01     1

[1154 rows x 4 columns]

In [8]:
dr_jn = data[data['시도'] == '전라남도']
dr_jn

       시도  시군구      피해시작일  발생횟수
725  전라남도  강진군 2013-08-10     2
726  전라남도  강진군 2013-08-11     1
727  전라남도  강진군 2016-08-19     1
728  전라남도  고흥군 2008-05-30     1
729  전라남도  고흥군 2016-01-01     3
..    ...  ...        ...   ...
793  전라남도  장흥군 2017-06-05     1
794  전라남도  진도군 2019-01-05     1
795  전라남도  진도군 2020-01-20     1
796  전라남도  화순군 2019-08-02     1
797  전라남도  화순군 2020-03-06     1

[73 rows x 4 columns]

In [10]:
dr_jn.to_csv('jeonnam.csv', index=False, encoding='utf-8')